:root {
  --branding-color: #ff8200;
  --secondary-color: rgba(255, 130, 0, 0.1);
  --heading-font-family: "Oleo Script";
  --default-font-family: "Raleway", sans-serif;
}
body {
  font-family: var(--default-font-family);
}
h1 {
  color: var(--branding-color);
  font-size: 50px;
}
h2 {
  font-family: var(--heading-font-family);
  font-size: 42px;
}
h4 {
  font-family: var(--heading-font-family);
  font-size: 34px;
}
p {
  font-family: var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}
hr {
  color: var(--branding-color);
}
.logo {
  max-height: 42px;
}
nav {
  padding: 5px 20px;
  background-color: var(--secondary-color);
  border-radius: 30px;
}
nav li {
  display: inline;
  line-height: 42px;
  margin-left: 15px;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--branding-color);
}
.content .link {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}
.hero h1 {
  color: var(--branding-color);
  font-family: var(--heading-font-family);
  font-size: 80px;
  line-height: 1.5;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 1.5;
}
.hero h3 {
  font-size: 36px;
  font-weight: bold;
  color: #000000;
}

.hero {
  text-align: center;
  padding: 40px 10px;
}

.hero .btn-branding,
.content-container .btn-branding,
.contact-box .btn-branding {
  background-color: var(--branding-color);
  color: #ffffff;
  border-radius: 4px;
  font-size: 18px;
  padding: 15px 30px;
}
.weather-app {
  max-width: 80%;
}
.podcast-project {
  max-height: 90%;
}
.podcast {
  max-height: 50%;
}
.btn-outline {
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  color: var(--branding-color);
  font-size: 18px;
  padding: 15px 30px;
  text-decoration: none;
}
.btn-outline:hover {
  color: #000000;
}
.media-kit,
.book {
  max-height: 60%;
}

.project-container {
  padding: 50px 60px;
}
.content-container .content h1 {
  font-family: var(--heading-font-family);
  color: var(--branding-color);
  font-size: 50px;
  line-height: 80px;
}
.content h2 {
  font-family: var(--default-font-family);
  font-size: 18px;
  font-weight: 600;
}
.content {
  margin: 30px;
}
.content-container {
  padding: 10px 20px;
  margin: 0 40px;
}
.content-container .col-md-6 {
  margin: 0px 0px 24px;
  padding: 0px 12px;
}
.content-container .profile-pic {
  width: 90%;
}
.content-container h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
}
footer {
  margin: 60px 0;
}
footer .contact-box {
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 30px 120px;
}
footer .contact-box p {
  margin: 0;
}
footer .email-link {
  color: #000000;
  font-size: 24px;
  text-decoration: none;
}
footer .email-link:hover {
  color: var(--branding-color);
}
footer .social-links a {
  background-color: var(--secondary-color);
  border-radius: 50%;
  color: var(--branding-color);
  font-size: 18px;
  margin: 0 20px;
  padding: 10px 14px;
  text-align: center;
}
footer .social-links a:hover {
  background-color: var(--branding-color);
  color: white;
  transition: all 100ms ease-in-out;
}

@media (max-width: 960px) {
  .content-container {
    margin: 0;
    padding: 5px;
  }
  .project-container {
    padding: 0;
    text-align: center;
  }
  .hero {
    padding: 20px 10px;
  }
  .hero h1 {
    font-size: 40px;
    line-height: none;
  }
  .hero h2 {
    font-size: 20px;
    font-weight: bolder;
    line-height: none;
    margin: 0;
    padding: 0;
  }
  .hero h3 {
    font-size: 18px;
    font-weight: bolder;
    line-height: 0.5;
    margin: 0;
    padding: 0;
  }
  .hero p {
    font-size: 14px;
  }
  .content {
    text-align: center;
    padding: 0%;
  }
  .content-container {
    padding-top: 15px;
  }
  .content-container .content h1 {
    font-size: 40px;
  }
}
